*{
    font-family:'Times New Roman', Times, serif;
    margin-left: 30px;
}

body {
    background-color: rgb(102, 102, 102);
  }

  p {
    color: aliceblue;
    font-size: medium;
    letter-spacing: normal;
    word-spacing: normal;
  }

  .yellow_strong{
      color: yellow;
  }
  
  h1 {
    color: rgb(146, 171, 176);
    font-weight:bolder;
  }

  h3 {
    color: rgb(146, 171, 176);
    font-weight: bolder;
  }